body {
	background-image: url("../img/bgImage.jpg") !important;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 0px;
}

.alert {
	display: none;
}

.logo {
	width: 100%;
	display: block;
	margin: auto;
}

.title {
	margin: auto auto 40px auto;
	color: #0069d9;
}

.credentials {
	float: none;
	margin: 0 auto;
}

.modal-lg {
	margin: 10px auto 0 auto !important;
}

.custom_btn button {
	width: 40%;
}

.form-group label {
	font-weight: bold;
}

.custom_modal {
	padding: 50px;
	border: 5px solid white;
	background-image: url("../img/wallpaper.jpg") !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.modal-dialog .modal-content .credentials {
	width: 90%;
}

.legenda {
	font-size: 55%;
}

.modal-dialog .modal-content .custom_btn button {
	margin-top: 30px;
}

/*-- Media Queries: define configurações css diferentes de acordo com o tamanho da tela --*/

@media only screen and (max-width: 414px) {
	.form-horizontal {
		margin-top: 20px; 
	}

	.custom_btn button {
		width: 60%;
		margin: 5px;
	}

	.modal-dialog .modal-content .custom_btn button {
		margin-top: 0;
		width: 100%;
	}
} 

@media only screen and (min-width: 415px) and (max-width: 568px) {
	.form-horizontal {
		margin-top: 20px; 
	}

	.custom_btn button {
		width: 60%;
		margin: 5px;
	}

	.modal-dialog .modal-content .custom_btn button {
		margin-top: 0; 
	}
} 

@media only screen and (min-width: 569px) and (max-width: 767px) {
	.form-horizontal {
		margin-top: 20px; 
	}
	
	.custom_btn {
		margin-bottom: 0;
	}

	.custom_btn button {
		width: 60%;
		margin: 5px;
	}
	
	.modal-dialog .modal-content .custom_btn button {
		margin-top: 0;
		width: 60%;
	}
	
}

@media only screen and (min-width: 1200px) {
	.custom_btn {
		margin-bottom: 0;
	}

	.custom_btn button {
		width: 40%;
	}
}

@media only screen and (min-width: 1920px) and (min-height: 1080px) {
	.geral {
		position: absolute;
		top: 25%;
    	left: 21%;
	}
}